

@font-face {
    font-family: 'Pixel' ;
    src: url('../fonts/Pixel.ttf');
}

[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 90vh;
    width: 80vw;
    margin: 1rem;
    background-color: deepskyblue;
    overflow: hidden;
}

.bird {
    position: absolute;
    width: 3.75rem;
    left: calc(50% - 30px);
    bottom: 50%;
}

.pair-of-barriers {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barrier {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.barrier .border {
    height: 2rem;
    width:  8.125rem;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barrier .body {
    height: 5rem;
    width: 6.9rem;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progress {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Pixel';
    font-size: 4.5rem;
}